<html>
<head>
	<title> crear_s </title>
</head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

	<center></br>
			<form action="insertar_sorteo.js" method="POST">
			<input type="text" name="premio" placeholder="Premio" value=""><br/><br/>
			<input type="submit" name="Enviar" class="w3-button w3-green" style="font-size: 20px">
			</form>
			<a href="/volver" class="w3-button w3-green"> Volver </a> <br/><br/>
			<table class="w3-table-all w3-card-4">
			<tbody>
				<tr>
				<td class="w3-blue">S_ID</td>	
				<td class="w3-blue">PREMIO</td>
				</tr>
				</tbody>
			</table>
	</center>
</body>
</html>