<html>
<head>
	<title> Menu </title>
</head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
	<center></br></br></br>
			<a href="/crear_p" class="w3-button w3-green"> Crear Participante </a><br/><br/>
			<a href="/ver_consultas" class="w3-button w3-green"> Ver Consultas </a><br><br><br><br><br><br><br><br><br><br>
	</center>
</body>
</html>