<html>
<head>
	<title> VER_CONSULTAS </title>
</head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <center></br><br>
            <a href="/ver_info_todos" class="w3-button w3-green"> Ver informacion de todos </a> <br><br>
            <a href="/ver_ganadores" class="w3-button w3-green"> Ver ganadores </a><br><br>
            <a href="/ver_gastado_por_todos" class="w3-button w3-green"> Cantidad de dinero gastado por los participantes </a><br><br>
            <a href="/ver_total_de_ventas" class="w3-button w3-green"> Ver total de ventas </a><br><br>
            <a href="/ventas_via" class="w3-button w3-green"> Total de ventas por via </a> <br><br>
            <br><br><br><br><br>
			<a href="/volver" class="w3-button w3-green"> Volver </a> <br/><br/>
	</center>
</body>
</html>